<div class="container" id="my-profile-spa">
  <div class="row">
    <div class="col-md-12">

      <div class="tab-nav-container">
        <myprofile-mobile-nav *ngIf="mobileDisplayMode" [isCasualBuyer]="isCasualBuyer"></myprofile-mobile-nav>
        <myprofile-desktop-nav *ngIf="!mobileDisplayMode" [isCasualBuyer]="isCasualBuyer"></myprofile-desktop-nav>

        <div class="tabs-content">
          <div class="inner-tab-holder">
            <router-outlet></router-outlet>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>

  </div>
</div>
